$text-white: #ffffff;
$text-color: #757575;
$title-text-color: #212121;
$bg-modal: rgba(0, 0, 0, 0.2);
$bg-overlay: rgba(33, 150, 243, 0.9);
$bg-work-color: rgba(47, 48, 58, 0.8);
$bg-dark-color: #2f303a;
$bg-team-portfolio-filters: #f5f4fa;
$bg-color: #ffffff;
$bg-hero: #c4c4c4;
$footer-contacts: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$hero-text-color: #ffffff;
$white-logo: #ffffff;
$black-logo: #000000;
$grey: #f5f4fa;
$lain-color: #ececec;
$clients-color: #afb1b8;
$social-link-footer: rgba(255, 255, 255, 0.1);
$modal-close-black: #000000;
$modal-field-border: rgba(33, 33, 33, 0.2);
$modal-textarea-placeholder: rgba(117, 117, 117, 0.5);
$button-accent: #188ce8;
$modal-checkbox: #212121;
$footer-form-border: rgba(255, 255, 255, 0.3);
