.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $bg-dark-color;

  font-size: 14px;
  line-height: 1.71;
}

.footer-box {
  text-align: center;

  @include for-size(desktop) {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    text-align: left;
  }
}

.footer-tablet {
  @include for-size(tablet) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

.footer-logo-adress-box {
  margin-bottom: 60px;

  @include for-size(tablet) {
    margin-right: 165px;
  }

  @include for-size(desktop) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.footer-link-box {
  margin-bottom: 60px;

  @include for-size(desktop) {
    padding-left: 70px;
    margin-bottom: 0;
  }
}

.footer-subs-box {
  @include for-size(desktop) {
    padding-left: 93px;
  }
}

.footer-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $bg-color;
}
