.header {
  padding-top: 10px;
  padding-bottom: 10px;

  @include for-size(tablet) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @include for-size(desktop) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.lain-header {
  border-bottom: 1px solid $lain-color;
}

.header-container {
  position: relative;

  // justify-content: space-between;
  align-items: center;

  @include for-size(tablet) {
    // display: block;
    // justify-content: space-between;
  }
}

.site-nav {
  text-align: center;
  margin-bottom: 60px;

  @include for-size(tablet) {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
    margin-right: 55px;
  }
}

.mobile-menu-button {
  display: none;

  @include for-size(mobile-only) {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-menu-button.is-open .icon-mobile-menu {
  display: block;
}

.mobile-menu-button .icon-mobile-menu {
  display: none;
}

.mobile-menu-button .icon-mobile-cross {
  display: block;
}

.mobile-menu-button.is-open .icon-mobile-cross {
  display: none;
}

.mobile-menu-button {
  &:hover .icon-mobile-button,
  &:focus .icon-mobile-button {
    fill: $accent-color;
  }
}
.mobile-menu-conteiner {
  @include for-size(mobile-only) {
    display: none;
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $bg-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
    }
  }

  @include for-size(tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.site-nav-item {
  position: relative;
  @include for-size(mobile-only) {
    margin-bottom: 40px;
  }

  @include for-size(tablet) {
    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
}

.site-nav .link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $title-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &.current {
    color: $accent-color;
  }
}

.current::after {
  content: '';
  position: absolute;

  display: inline-block;
  left: 0;
  bottom: -8px;

  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;

  @include for-size(tablet) {
    bottom: 0px;
    top: 46px;
  }

  @include for-size(desktop) {
    top: 44px;
  }
}
