.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 95px;
    padding-bottom: 95px;
  }
}

.section-title {
  margin-bottom: 30px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;

  @include for-size(desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
  }
}
