.section-hero {
  width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: $bg-hero;
  background-size: 480px 400px;
  background-image: linear-gradient(
      to top,
      hsla(235, 10%, 21%, 0.4),
      hsla(235, 10%, 21%, 0.4)
    ),
    url(../images/mobile/mobile-hero.jpg);

  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-hero {
      background-image: url(../images/mobile/mobile-hero@2x.jpg);
    }
  }

  @include for-size(tablet) {
    width: 768px;
    height: 400px;
    background-size: 768px 400px;
    background-image: linear-gradient(
        to top,
        hsla(235, 10%, 21%, 0.4),
        hsla(235, 10%, 21%, 0.4)
      ),
      url(../images/tablet/tablet-hero.jpg);

    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .section-hero {
        background-image: url(../images/tablet/tablet-hero@2x.jpg);
      }
    }
  }

  @include for-size(desktop) {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px 600px;
    background-image: linear-gradient(
        to top,
        hsla(235, 10%, 21%, 0.4),
        hsla(235, 10%, 21%, 0.4)
      ),
      url(../images/desktop/desktop-hero.jpg);

    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .section-hero {
        background-image: url(../images/desktop/desktop-hero@2x.jpg);
      }
    }
  }
}

.hero-text-box {
  text-align: center;
  @include for-size(tablet) {
  }

  @include for-size(desktop) {
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $hero-text-color;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include for-size(decktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
