.team {
  background: $bg-team-portfolio-filters;

  .team-name {
    margin-bottom: 10px;
    color: $title-text-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  .position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.team-card {
  margin: 15px;
  background-color: $bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  @include for-size(tablet) {
    flex-basis: calc(100% / 2 - 30px);
  }
  @include for-size(desktop) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-img {
  margin-bottom: 30px;
}
